---
# This is an example playbook to execute Ansible tests.

- name: Verify
  hosts: all
  gather_facts: false
  tasks:
    - ignore_errors: yes
      become: yes
      block:
        - name: Check vnc is installed
          dnf:
            list: tigervnc-server
          register: result_tigervnc_server_installed

        - name: Check vnc-module is installed
          dnf:
            list: tigervnc-server-module
          register: result_tigervnc_server_module_installed

        - name: "Get vnc process PID"
          command: pgrep vnc
          register: result_vnc_pid
          ignore_errors: yes
          changed_when: false

        - name: Check if port 5901 is listening
          wait_for:
            port: 5901
            delay: 5
            timeout: 10
            msg: "Timeout waiting for 5901 to respond"
          register: result_port_check
          ignore_errors: yes
        
        - debug:
            var: result_port_check.state

    - name: Confirmation of results
      assert:
        that: "{{ result.failed == false }}"
      loop:
        - "{{ result_tigervnc_server_installed }}"
        - "{{ result_tigervnc_server_module_installed }}"
      loop_control:
        loop_var: result

    - name: Confirmation of vnc process started
      assert:
        that: "{{ result_vnc_pid.stdout not in (None, '') }}"
    
    - name: Confirmation of vnc port 5901 started
      assert:
        that: "{{ result_port_check.state == 'started' }}"
