<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
    <!-- Enable features -->
    <featureManager>
        {% for featureManager in websphere_server.featureManagers -%}
        <feature>{{ featureManager }}</feature>
        {% endfor %}
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
	          host="*"
                  httpPort="{{ websphere_server.httpPort }}"
		  httpsPort="{{ websphere_server.httpsPort }}" />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    {% set db = websphere_server.db %}

    <dataSource connectionSharing="MatchCurrentState" id="DefaultDataSource" isolationLevel="TRANSACTION_READ_COMMITTED" jndiName="jdbc/sample" statementCacheSize="20">
        <connectionManager agedTimeout="{{ db.agedTimeout }}" connectionTimeout="{{ db.connectionTimeout }}" maxPoolSize="{{ db.maxPoolSize }}" minPoolSize="{{ db.minPoolSize }}"/>
        <jdbcDriver libraryRef="jdbcdriver"/>
	<properties.db2.jcc currentLockTimeout="{{ db.currentLockTimeout }}" databaseName="sample" password="{{ lookup('vars', db.username + '_password') }}" portNumber="{{ db.port }}" serverName="{{ db.host }}" user="{{ db.username }}"/>
    </dataSource>

    <library id="jdbcdriver">
        <fileset dir="/var/lib/java" includes="db2jcc4.jar"/>
    </library>
    
    {% for app in websphere_server.apps -%}
    <webApplication id="{{app.id}}" location="{{app.location}}" name="{{app.id}}"/>
    {% endfor %}
</server>